body
{
  #background-color:rgb(000,153,255);
}

/* CSS FOR THE NAVIGATION BAR / HEADER
*/
#headertopbar
{
  background-color:rgb(255,255,255);
  padding-left:150px;
  float:center;
  overflow:hidden;
}
p.title
{
  float:left;
  vertical-align:top;
  #display:block;
  padding-left:150px;
  font-family:Aclonica;
  color:rgb(160,160, 160);
  font-size:40px;
  #overflow:hidden;
}
ul.navbarlinks
{
  list-style-type:none;
  margin:0;
  padding-left:0px;
  overflow:hidden;
}
li.narbarpoints
{
  float:left;
  font-family:Aclonica;
  color:rgb(000,153,255);
}
a.navlinks
{
  float:center;
  display:block;
  width:128px;
  text-align:center;
}
#navbar
{
  float:left;
  padding-left:450px;
}

/* CSS FOR THE INDEX PAGE */

p.generalText
{
  font-family:Verdana;
  color:rgb(120, 120, 120);
  float:center;
  padding-left:350px;
  padding-right:30%;
  padding-top:2%;
  text-align:justify;
}

p.indexuserloginmessage
{
  font-family:Aclonica;
  color:rgb(0, 0, 0);
  float:center;
  padding-left:350px;
  padding-right:30%;
  padding-top:3%;
  /*font-weight:bold;*/
}

/* CSS FOR REGISTRATION PAGE */

p.registerpage
{
  font-family:Aclonica;
  color:rgb(120,120,120);
  float:center;
  padding-left:670px;
  padding-right:35%;
  padding-top:3%;
  font-weight:bold;
}

#registermain
{
  font-family:Verdana;
  color:rgb(120,120,120);
  padding-left:550px;
  padding-right:25%;
  float:center;
  #padding-top:1%;
}

p.registererror
{
  font-family:Verdana;
  color:rgb(0,0,0);
  float:center;
	
}
/* CSS FOR THE DEVICE Management PAGE */
#devicesmain
{
  font-family:Verdana;
  color:rgb(120,120,120);
  padding-left:385px;
  padding-right:25%;
  float:center;
  #padding-top:1%;
}

table.devices, th.devices, td.devices {
	%border: 1px solid black;
	border-spacing: 20px 2px;
	padding: 5px;
	text-align: center;
}

.btn {	/* This CSS will be used by all other buttons on this web application */
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #757575;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #4a4a4a;
  text-decoration: none;
}

#devicebuttonpadding {
	padding-left:45px;
}

p.devicemanagement
{
  font-family:Aclonica;
  color:rgb(120,120,120);
  float:center;
  padding-left:625px;
  padding-right:35%;
  padding-top:3%;
  font-weight:bold;
}

/* CSS FOR NEW DEVICES */ 

p.newdevice
{
  font-family:Aclonica;
  color:rgb(120,120,120);
  float:center;
  padding-left:640px;
  padding-right:35%;
  padding-top:3%;
  font-weight:bold;
}

#newdevices {
  font-family:Verdana;
  color:rgb(120,120,120);
  padding-left:535px;
  padding-right:25%;
  float:center;
  #padding-top:1%;
}

#newdeviceserror {
  padding-left:495px;
  padding-right:25%;
  float:left;
  #padding-top:1%;
}


td.newdevice {
	text-align: right;
}

#newdevicebuttonpadding {
	padding-left: 107px;
}
/* 
	EVERYTHING BELOW THIS IS USELESS
*/

#cookieBar {
	
	position: fixed;
	
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
	
}

