
#share
{
  font-family:Verdana;
  color:rgb(120,120,120);
  padding-left:25%;
  padding-right:25%
}
#aboutus
{
  font-family:Aclonica;
  color:rgb(000,153,255);
  padding-left:25%;
  padding-right:25%
}
#loginmain
{
  font-family:Aclonica;
  color:rgb(000,153,255);
  padding-left:40%;
  padding-right:25%;
  float:center;
  #padding-top:1%;
}
table.loginmain
{
  text-align:center;
}
button.login
{
  background-color:rgb(000,153,255);
  font-family:Aclonica;
}
p.loginpage
{
  font-family:Aclonica;
  color:rgb(000,153,255);
  float:center;
  padding-left:48%;
  padding-right:25%;
  padding-top:5%;
  font-weight:bold;
}

form.joinhouse
{
  font-family:Aclonica;
  color:rgb(000,153,255);
  float:center;
  padding-left:40%;
  padding-right:25%;
  #padding-top:5%;
}
form.createhouse
{
  font-family:Aclonica;
  color:rgb(000,153,255);
  float:center;
  padding-left:40%;
  padding-right:25%;
  #padding-top:5%;
}
form.addnewoccupantform
{
  font-family:Aclonica;
  color:rgb(000,153,255);
  float:center;
  padding-left:25%;
  padding-right:25%;
  padding-top:2%;
}
#edithouse
{
  font-family:Aclonica;
  color:rgb(000,153,255);
  float:center;
  padding-left:25%;
  padding-right:25%;
  padding-top:5%;
}
#viewbills
{
  font-family:Aclonica;
  color:rgb(000,153,255);
  float:center;
  padding-left:25%;
  padding-right:25%;
  padding-top:5%;
}
form.newbilldisplay
{
  font-family:Aclonica;
  color:rgb(000,153,255);
  float:center;
  padding-left:25%;
  padding-right:25%;
  padding-top:5%;
}
p.billnohouseerror
{
  font-family:Aclonica;
  color:rgb(000,153,255);
  float:center;
  padding-left:42%;
  padding-right:25%;
  padding-top:5%;
  font-weight:bold;
}

p.newbilldiserror
{
  font-family:Aclonica;
  color:rgb(000,153,255);
  float:center;
  padding-left:36%;
  padding-right:25%;
  padding-top:5%;
  font-weight:bold;
}
p.joinhousetitle
{
  font-family:Aclonica;
  color:rgb(000,153,255);
  float:center;
  padding-left:43%;
  padding-right:25%;
  padding-top:5%;
  font-weight:bold;
}
p.makehousetitle
{
  font-family:Aclonica;
  color:rgb(000,153,255);
  float:center;
  padding-left:43%;
  padding-right:25%;
  padding-top:5%;
  font-weight:bold;
}
p.regerrors
{
  font-family:Aclonica;
  color:rgb(000,153,255);
  float:center;
  padding-left:25%;
  padding-right:25%;
  padding-top:5%;
  #font-weight:bold;
}
p.regsuccess
{
  font-family:Aclonica;
  color:rgb(000,153,255);
  float:center;
  padding-left:25%;
  padding-right:25%;
  padding-top:5%;
  #font-weight:bold;
}